body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin: 0; */
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

h1 {
  color: #333;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ececec;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 16px;
}

.btn-green,
.btn-red {
  /* border: none; */
  border-radius: 8px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.btn-green {
  background-color: #21c44f;
}

.btn-red {
  background-color: red;
}

#start-camera {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  width: 30px;
  background-color: red; /* Colore blu */
  color: white; /* Testo bianco */
  border: none; /* Rimuove il bordo */
  padding: 10px 20px; /* Distanze interne */
  font-size: 30px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px; /* Angoli arrotondati */
  border: 1px solid black;
  text-decoration: none;
}

.back-button i {
  margin-right: 8px; /* Distanza tra l'icona e il testo */
}
